<div ng-controller="mainController">
    <div class="row">
        <aside class="col-md-2">
            <div class="list-group">
                <a class="list-group-item list-group-item-action" href="#!/Mensageria">Cadastro Mensageria</a>
                <a class="list-group-item list-group-item-action" href="#!/MensageriaTemplate">Cadastro Template Mensagem</a>
            </div>
        </aside>
        <div class="row">
            <div ng-view></div>
        </div>
    </div>

</div>